:root {
    --celeste: #7Cbdbd;
    --turquesa: #14fdce;
    --blue: #111117;
    --shadow: rgba(0, 255, 255, 0.2);
}


@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Share+Tech+Mono&display=swap');


/*universal setting for no body margins*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

html {
    overflow: hidden;
}

html,
body {
    height: 100%;
    background: var(--blue);
    box-shadow: 0 0 12rem  var(--shadow) inset;
    animation-name: glowing;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}



header {
    width: 100%;
    text-align: left;
    /* arriba y abajo | izquierda y derecha */
    padding: 3% 5%;
}

main {
    width: 100%;
    height: 70%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    /* Dirección en fila */
    flex-direction: row;
    padding: 3% 5%;
}

.in {
    width: 70%;
}

.out {
    width: 20%;
}

footer {
    /* Fijado en la posición de abajo*/
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

p{
    color: var(--turquesa);
    font-size: 0.6rem;
    padding: 10px;
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
section>textarea::placeholder, .textarea-container>textarea::placeholder  {
    /* Modern browsers */
    color: var(--turquesa);
    opacity: 0.5;
}


textarea {
    background-color: transparent;
    font-size: 1rem;
    color: var(--turquesa);
    padding: 1rem;
    width: 100%;
    height: 100%;
    resize: none;
    border: solid 1px var(--turquesa);
    transition: all 0.6s linear;
    box-sizing: border-box;
  }

  textarea:focus {
    outline: none;
    border: solid 3px var(--turquesa);
    box-shadow: 0px 0px 10px 2px var(--celeste) inset;
}

.textarea-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
}
  

  .textarea-container textarea {
    background-color: transparent;
    font-size: 1rem;
    color: var(--turquesa);
    padding: 1rem;
    width: 100%;
    height: 100%;
    resize: none;
    border: solid 1px var(--turquesa);
    transition: all 0.6s linear;
    box-sizing: border-box;
  }

  
.textarea-container textarea:focus {
    outline: none;
    border: solid 3px var(--turquesa);
    box-shadow: 0px 0px 10px 2px var(--celeste) inset;
}

  .textarea-container button {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
  }


.btns-container,
.btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

button {
    background: transparent;
    padding: 10px 18px;
    border: 1px solid var(--turquesa);
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: 50%;
    color: var(--turquesa);
    transition: all 0.6s linear;
}

.btns-container>button {
    width: 50%;
}

.btn-container>button {
    width: 100%;
}

button:hover {
    color: var(--blue);
    background: var(--turquesa);

}



.scanlines {
    pointer-events: none;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0) 50%,
            rgba(0, 0, 0, 0.3) 70%,
            rgba(255, 255, 255, 0.75));
    background-size: 0.5rem 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
}

.scanlines::before {
    animation: crt-output 10ms infinite;
    background: rgba(129, 243, 253, 0.75);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@keyframes crt-output {
    0% {
        opacity: 0.85;
    }

    100% {
        opacity: 1;
    }
}


@keyframes glowing {
    from {
        box-shadow: 0 0 150px rgba(0, 255, 255, 0.2) inset;
    }

    to {
        box-shadow: 0 0 200px rgba(0, 255, 255, 0.5) inset;
    }
}



/* Cuando la pantalla es menor a 700px la dirección de los items flex va a ser uno bajo al otro */
@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .in,
    .out {
        margin-bottom: 20%;
        width: 100%;
    }
}